* {
    box-sizing: border-box;
  }
  .header {
    display: -webkit-flex;  
    display: flex; 
    margin-left: 20px; 
}
.archives-container {  
    display: -webkit-flex;  
    display: flex;  
    float: left;
    flex-wrap: wrap;
    margin: auto;  
   
} 
.archives-item {       
    margin: 10px;  
} 
.dropdown-container {
     display: flex;
     justify-content: center;
}
.dropdown {
    margin-right: 50px;
}